<section data-type="anchor" id="about" class="rd-parallax animation animationToCenter">
    <div class="animation-wrap">
        <div
            class="rd-parallax-layer"
            data-sm-speed="0.3"
            data-speed="0"
            data-type="media"
            data-url="{{ asset('bundles/app/images/parallax01.jpg') }}">
        </div>
        <div class="well-md text-center animation-cnt">
            <div class="container text-center">
                <h4>Integraci&oacute;n de Sistemas</h4>
                <h1>Tianos</h1>
                <h3>desarrollo de software</h3>
                {#<a data-lightbox="ajax" href="javascript:void(0)" class="btn btn-md btn-contrast">#}
                    {#<span class="btn-wrap">#}
                        {#mas#}
                    {#</span>#}
                {#</a>#}
            </div>
        </div>
    </div>
</section>