<section data-type="anchor" id="models" class="well-sm">
    <div class="container text-center">
        <h6>New models</h6>

        <div class="row flow-offset-2">

            <div class="col-md-3 col-sm-6 blog-post">
                <div class="blog-post__img circle" data-lightbox="image"
                     data-mfp-src="images/img09.jpg">
                    <img height="240" width="240" src="{{ asset('bundles/app/images/img05.jpg') }}" class="circle border" alt=""/>

                    <div class="blog-post__meta">
                        <div class="blog-post__meta-wrap">
                            <span>irina</span>
                            <span>27</span>
                        </div>
                    </div>
                </div>
                <p>
                    Hair Brown; Eyes Green;
                    <br/>
                    Height 178cm/5'10
                </p>
                <a data-lightbox="ajax" href="ajax/page1.html" class="btn btn-md btn-default">
                    <span class="btn-wrap">
                        more
                    </span>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 blog-post">
                <div class="blog-post__img circle" data-lightbox="image"
                     data-mfp-src="images/img10.jpg">
                    <img height="240" width="240" src="{{ asset('bundles/app/images/img06.jpg') }}" class="circle border" alt=""/>

                    <div class="blog-post__meta">
                        <div class="blog-post__meta-wrap">
                            <span>mary</span>
                            <span>19</span>
                        </div>
                    </div>
                </div>
                <p>
                    Hair Brown; Eyes Green;
                    <br/>
                    Height 178cm/5'10
                </p>
                <a data-lightbox="ajax" href="ajax/page2.html" class="btn btn-md btn-default">
                    <span class="btn-wrap">
                        more
                    </span>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 blog-post">
                <div class="blog-post__img circle" data-lightbox="image"
                     data-mfp-src="images/img11.jpg">
                    <img height="240" width="240" src="{{ asset('bundles/app/images/img07.jpg') }}" class="circle border" alt=""/>

                    <div class="blog-post__meta">
                        <div class="blog-post__meta-wrap">
                            <span>jane</span>
                            <span>22</span>
                        </div>
                    </div>
                </div>
                <p>
                    Hair Blonde; Eyes Blue;
                    <br/>
                    Height 173cm/5'8
                </p>
                <a data-lightbox="ajax" href="ajax/page3.html" class="btn btn-md btn-default">
                    <span class="btn-wrap">
                        more
                    </span>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 blog-post">
                <div class="blog-post__img circle" data-lightbox="image"
                     data-mfp-src="images/img12.jpg">
                    <img height="240" width="240" src="{{ asset('bundles/app/images/img08.jpg') }}" class="circle border" alt=""/>

                    <div class="blog-post__meta">
                        <div class="blog-post__meta-wrap">
                            <span>tina</span>
                            <span>25</span>
                        </div>
                    </div>
                </div>
                <p>
                    Hair Brown; Eyes Green;
                    <br/>
                    Height 178cm/5'10
                </p>
                <a data-lightbox="ajax" href="ajax/page4.html" class="btn btn-md btn-default">
                    <span class="btn-wrap">
                        more
                    </span>
                </a>
            </div>

        </div>
    </div>
</section>