<section data-type="anchor" id="wedo" class="well-sm border-bottom">
    <div class="container text-center">
        <div class="row flow-offset-1">

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="news-post">
                    <h6 class="border-bottom">Diagn&oacute;stico</h6>
                    <span class="icon icon-xl icon-contrast fa-dashboard">
                        <span class="icon-wrap"></span>
                    </span>
                    <p>
                        Model Agency is one of the most successful agencies in the country.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-md btn-default"> {#data-lightbox="ajax" #}
                        <span class="btn-wrap">
                            mas
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="news-post">
                    <h6 class="border-bottom">Diseño</h6>
                    <span class="icon icon-xl icon-contrast fa-bug">
                        <span class="icon-wrap"></span>
                    </span>
                    <p>
                        We provide professional women and men models for you to hire.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-md btn-default">
                        <span class="btn-wrap">
                            mas
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="news-post">
                    <h6 class="border-bottom">Desarrollo</h6>
                    <span class="icon icon-xl icon-contrast fa-code">
                        <span class="icon-wrap"></span>
                    </span>
                    <p>
                        Our dedicated model agency is the most powerful in the fashion industry.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-md btn-default">
                        <span class="btn-wrap">
                            mas
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="news-post">
                    <h6 class="border-bottom">Despliegue</h6>
                    <span class="icon icon-xl icon-contrast fa-desktop">
                        <span class="icon-wrap"></span>
                    </span>
                    <p>
                        Find the latest info on news, reviews, events of our model agency.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-md btn-default">
                        <span class="btn-wrap">
                            mas
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>