<section data-type="anchor" id="wedo" class="well-sm border-bottom">
    <div class="container text-center">
        <div class="row flow-offset-1">

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="news-post">
                    <h6 class="border-bottom">An&aacute;lisis</h6>
                    <span class="icon icon-xl icon-contrast fa-dashboard">
                        <span class="icon-wrap"></span>
                    </span>
                    <p>
                        El objetivo del an&aacute;lisis es determinar dónde está el problema, para crear el sistema.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-md btn-default"> {#data-lightbox="ajax" #}
                        <span class="btn-wrap">
                            mas
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="news-post">
                    <h6 class="border-bottom">Diseño</h6>
                    <span class="icon icon-xl icon-contrast fa-bug">
                        <span class="icon-wrap"></span>
                    </span>
                    <p>
                        En el diseño de sistemas, las funciones y operaciones de diseño se describen en detalle.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-md btn-default">
                        <span class="btn-wrap">
                            mas
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="news-post">
                    <h6 class="border-bottom">Desarrollo</h6>
                    <span class="icon icon-xl icon-contrast fa-code">
                        <span class="icon-wrap"></span>
                    </span>
                    <p>
                        Esta es la fase en la que comenzamos a construir el software y comenzamos el c&oacute;digo para el producto.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-md btn-default">
                        <span class="btn-wrap">
                            mas
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="news-post">
                    <h6 class="border-bottom">Despliegue</h6>
                    <span class="icon icon-xl icon-contrast fa-desktop">
                        <span class="icon-wrap"></span>
                    </span>
                    <p>
                        Después de una prueba exitosa, el producto se entrega / implementa al cliente para su uso.
                    </p>
                    <a href="javascript:void(0)" class="btn btn-md btn-default">
                        <span class="btn-wrap">
                            mas
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>